@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1{
    padding: 20px 0 20px 0;
    margin-bottom: 65px;
    background: linear-gradient(to right, #e09eff, #5eca5e, #fcfc78);
}
.image_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-top: 30px;
}
.card_Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
}
.card_Container:hover{
    box-shadow: 0 0 10px black;
    border: 1px solid black;
}
.button_style{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s all;
}
.button_container button:hover{
    transform: scale(0.8);
}
.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.button_violet{
    background-color: #e09eff;

}
.button_green{
    background-color: #5eca5e;

}
.button_yellow{
    background-color: #fcfc78;    
}
.button_reset{
    background-color: rgb(253, 253, 253);
}

